<!--Layout für englishe Version-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>betterbackpacking</title>
    <meta name="description" content="Die Internetplattform bbp ist ein junges, innovatives Unternehmen des Rucksackreisens und stellt eine dahingehende soziale Plattform bereit.
                    Der Produktfokus liegt auf der Vermittlung von Touristenführern mit jeweiligen Touren, der Bereitstellung von Informationen und Dienstleistungen rund um  das Rucksackreisen und der Kommunikation zwischen den Kunden und den Touristenführern, als auch zwischen Kunde und Kunde.
                    Die vom Unternehmen geteilten Werte stellen also gleichzeitig durch die Segmentierung dieser drei Bereiche die Bausteine der Seite dar. Hierbei handelt es sich um travel, learn und live." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="misc/fontAwesome/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-89108074-1', 'auto');
        ga('send', 'pageview');
    </script>
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.9";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" id="bbp" href="/"><img style="width:2em" alt="logo" src="/images/logo_white.svg"> </a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">

                </li>
                {{#if user}}
                    <li>
                        <a class="page-scroll" href="/travel">travel</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/learn">learn</a>
                    </li>
                    <li>
                    <li>
                        <a title="chat" href="/users/chat">bbp Lounge</a>
                    </li>
                {{else}}
                    <li>
                        <a class="page-scroll" href="/travel">travel</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/learn">learn</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#four">live</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#last">Contact</a>
                    </li>

                {{/if}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll"  title="ger" href="/"><img style="width: 2em;" src="/images/germany.png"> </a>
                </li>
                <li>
                    <a class="page-scroll" title ="en" href="/ENindex"><img style="width: 2em;" src="/images/England.png"></a>
                </li>
                <li>
                    <a class="page-scroll" data-toggle="modal" title="about" href="#aboutModal">About Us</a>
                </li>

                <!--{{#if user}}-->
                    <!--<li>-->
                        <!--<a title="logout" href="/users/logout">Logout</a>-->
                    <!--</li>-->
                <!--{{else}}-->
                    <!--<li>-->
                        <!--<a title="login" href="/users/login">Login</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a title="register" href="/users/register">Register</a>-->
                    <!--</li>-->
                <!--{{/if}}-->
            </ul>
        </div>
    </div>
</nav>

<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">bbp</h2>
                <h5 class="text-center">
                    betterbackpacking
                </h5>
                <p class="text-justify">
                    The internet platform bbp is a young, innovative company about backpacking. We provide a social platform that combines backpackers and backpackers with local adventure guides around the world, creating a vibrant community.
                    On our platform you can get everything you need for backpacking. Whether it is the mediation of one of our guides and thus making possible wonderful and breathtaking tours - or whether it’s the pick up of cultural and country-specific information and offers around his adventure - it is all here. In any case, you can exchange with all the members at any time and make new acquaintances, create security and be in contact with many other great like-minded people.
                    In short, our company is about the mediation of travel, the provision of information and the possibility of communication -
                    Travel, learn and live. These are our values. And together with you we create something great.
                    Be a citizen of the world!

                </p>
                <img style="width:100%;" src="/images/profilbild.jpg">
                <!--<p class="text-center"><a href="http://www.bootstrapzero.com">Download at BootstrapZero</a></p>-->
                <br/>
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
            </div>
        </div>
    </div>
</div>

<div id="whatsapp" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">phone: +49 1633512444</h2>
            </div>
        </div>
    </div>
</div>

{{{body}}}

</body>
</html>
