

<div class="container text-xs-center">
	<h1 style="padding-top:4em; "class=" text-center">Thank You!</h1>
	<p class=" text-center">Your email has been submitted. We will contact you soon!</p>
	<hr>

</div>

