
<div style="padding-top:50px;" class="container datenschutz">
    <div class="row">
        <div class="col-lg-8 col-xs-10">
            <h2>Allgemeines</h2>
            <p>Auf unserer Seite bieten wir die Möglichkeit, den von uns angefertigten Newsletter zu abonnieren. In diesem informieren wir in regelmäßigen Abständen über Aktuelles und neue Angebote. Dafür wird eine gültige E-Mailadresse benötigt. Bei der eingegebenen Adresse wird überprüft, ob sie tatsächlicher Eigentümer und damit für den Empfang der E-mail autorisiert sind.
                Mit der Anmeldung zu unserem Newsletter werden wir die IP-Adresse und das Datum sowie die Uhrzeit der Anmeldung speichern.
                Dies dient in diesem Zusammenhang als Absicherung unsererseits, falls Dritte ihre E-Mailadresse missbrauchen und ohne ihr Wissen unseren Newsletter abbonieren.
                Weitere Daten werden von uns nicht erhoben.
                Die so erhobenen Daten werden ausschließlich für den Bezug unseres Newsletter verwendet. Eine Weitergabe an Dritte ist zwingend untersagt und erfolgt somit nicht.
                Ein Abgleich der so erhobenen Daten mit Daten, die eventuell durch andere Komponenten unserer Seite erhoben werden, erfolgt ebenfalls nicht.
                Sie sind jederzeit dazu in der Lage, das Abonnement dieses Newsletters zu kündigen.
                Einzelheiten hierzu können Sie der Bestätigungsmail sowie jedem einzelnen Newsletter entnehmen.
            </p>
        </div>


        <div class="col-lg-8 col-xs-10">
            <h2>Wie werden die persönlichen Daten geschützt?</h2>
            <p>Der Schutz und die Sicherheit der personenbezogenen Angaben sind uns sehr wichtig. Somit werden sämtliche persönliche Daten in sicheren Datenbanken an sicheren Standorten gespeichert, um den unbefugten Zugriff darauf zu verhindern. Die hierbei gepflegten Datenbanken werden durch Passwörter, Verschlüsselungsgeräte und Firewalls geschützt. Dabei ist allerdings stets zu beachten, dass für keine Datenübertragung über das Internet hundertprozentige Sicherheit gewährleistet werden kann.
                Wir sichern hierbei zu, dass alle Maßnahmen ergriffen werden, um die Sicherheit der Daten zu gewährleisten, können jedoch nicht für die Sicherheit der Informationen garantieren, die uns über das Internet übermittelt werden.

                Der Zugriff auf ihre persönlichen und privaten Daten ist beschränkt auf: autorisierte Mitarbeiter von betterbackpacking und jener vermittelter Anbieter (Guides), die ihre Daten zur Bereitstellung der von dir gewünschten Reiseservices oder sonstiger Leistungen benötigen.
                Wir informieren unsere Mitarbeiter und Guides laufend über unsere Bestimmungen und Verfahren und verlangen hierbei von ihnen die strikte Einhaltung dieser Datenschutzerklärung, um den Schutz der Daten zu gewährleisten. Die unbefugte Offenlegung bzw. der unbefugte Zugriff von Kundendaten ist strengstens untersagt.

            </p>
        </div>


        <div class="col-lg-8 col-xs-10">
            <h2>Was sind Cookies?</h2>
            <p>Cookies sind kleine Textdateien, die von einer Website an ihren Webbrowser gesendet werden und eine eindeutige Identifikationsnummer enthalten. Während eine bestimmte Website besucht wird, können Cookies verwendet werden, um die Aktivitäten deines Browsers nachzuvollziehen und eine konsistentere, effizientere Nutzererfahrung zu bieten.   </p>
        </div>


        <div class="col-lg-8 col-xs-10" >
            <h2>Wie verwenden Drittanbieter Cookies? </h2>
            <p> Drittanbieter, darunter Google, zeigen Werbung von betterbackpacking im Internet an. Diese Drittanbieter verwenden Cookies, um Benutzer Anzeigen basierend auf früheren Besuchen der betterbackpacking-Webseite anzuzeigen. Weder betterbackpacking noch mit betterbackpacking verbundene Drittanbieter speichern persönliche Informationen in den Cookiedaten. Benutzer können auf der “Opt-Out”-Seite der Network Advertising (in englischer Sprache) der Nutzung von Cookies durch Drittanbieter widersprechen.
            </p>
        </div>


        <div class="col-lg-8 col-xs-10">
            <h2>Wie verwendet betterbackpacking Cookies? </h2>
            <p>Cookies können verwendet werden, um den Buchungsprozess zu beschleunigen, damit  dieselben Daten nicht immer wieder von Neuem eingeben werden müssen. Wir können Cookies verwenden, um zu messen, wie die Webseite genutzt wird, z. B. von welchen Seiten Benutzer auf die Webseite kommen bzw. diese verlassen, wie viele Personen bestimmte Bereiche oder Seiten besuchen und um Details zu durchgeführten Suchanfragen und damit zusammenhängende Informationen zu erhalten. Wenn etwas auf der Seite erworben wird, können wir Cookies auch verwenden, um die Transaktionsdaten von einer Seite zur nächsten zu übernehmen. Wir speichern keine persönlichen Daten im Cookie und verwenden es für keine anderen Zwecke.  </p>
        </div>


        <div class="col-lg-8 col-xs-10">
            <h2>Änderungen an dieser Datenschutzerklärung </h2>
            <p>Gelegentlich können Änderungen oder Ergänzungen dieser Datenschutzrichtlinie erforderlich sein. Diese Änderungen können auch die gemäß einer vorherigen Version dieser Richtlinie gesammelten persönlichen Daten betreffen. betterbackpacking behält sich das Recht vor, diese Datenschutzerklärung jederzeit und aus beliebigen Gründen zu ändern. Wenn wir eine Änderung an dieser Erklärung vornehmen, werden wir die überarbeitete Version auf unserer Webseite veröffentlichen. </p>
        </div>


        <div class="col-lg-8 col-xs-10">
            <h2>Datenschutzrichtlinien:
            </h2>
            <p>Voraussetzungen von § 7 Abs. 3 UWG (Das deutsche Gesetz gegen den unlauteren Wettbewerb) beachtet, darf seinen Kunden einen Newsletter schicken, ohne diesen zuvor um Erlaubnis gefragt zu haben. Es ist also weder ein Opt-In noch ein Double-Opt-In nötig. Stattdessen müssen aber alle der folgenden vier Voraussetzungen erfüllt werden:
                Der Unternehmer muss die E-Mail-Adresse des Kunden im Zusammenhang mit dem Verkauf einer Ware oder Dienstleistung erhalten haben. Es dürfen also nur Bestandskunden beworben werden.
                Es dürfen nur eigene Produkte beworben werden, die dem bereits verkauften ähnlich sind. Ergänzungsangebote (Up-Selling) sind grds. auch zulässig.
                Der Kunde muss bereits bei der Eingabe seiner E-Mail-Adresse und in jedem Newsletter darauf hingewiesen werden, dass er der Verwendung jederzeit widersprechen kann, ohne dass hierfür andere als die Übermittlungskosten nach den Basistarifen entstehen. Ihm ist also jedes Mal eine Kontaktadresse anzubieten, an die er sich wenden kann, um den Newsletter abzubestellen. Daneben muss ein entsprechender Hinweis bereits bei Erhebung der E-Mail-Adresse erfolgen. Hieran scheitert es in der Praxis meistens, so dass die erhaltenen E-Mail-Adressen nicht ohne Einwilligung für Werbezwecke nutzbar sind.
                Hat der Kunde von seinem Widerspruchsrecht Gebrauch gemacht (Opt-Out), indem er den Newsletter abbestellt hat, muss seine Adresse aus dem Verteiler genommen werden.
                Die Einhaltung dieser vier Anforderungen gewährleistet, nicht illegal Spam zu versenden.
            </p>
        </div>

    </div>
</div>




<!--scripts loaded here from cdn for performance -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
