
<header id="first">

    <div class="header-content">
        <div class="inner">
            <h1 class="cursive">Discover yourself through the world. Connect with other backpackers and guides.</h1>
            <h4>backpack better - with betterbackpacking</h4>
            <hr>
            <a href="#videoinfo" data-toggle="modal" class="btn btn-primary btn-xl page-scroll">Video Info</a> &nbsp; <a href="#last" class="btn btn-primary btn-xl page-scroll">Contact us</a>
        </div>
    </div>
    <video muted autoplay="" loop="yes" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
        <a href="https://vimeo.com/192417650"></a>
        <source src="images/alive.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>

</header>

    <!--<button type="submit" value="submit" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>-->

<section class="bg-primary" id="one">
    <!-- <div class="container">
         <div class="row">
             <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                 <h2 class="margin-top-0 text-primary">Travel</h2>
                 <br>
                 <p class="text-faded">
                     Bootstrap's responsive grid comes in 4 sizes or "breakpoints": tiny (xs), small(sm), medium(md) and large(lg). These 4 grid sizes enable you create responsive layouts that behave accordingly on different devices.
                 </p>
                 <a href="#three" class="btn btn-default btn-xl page-scroll">Learn More</a>
             </div>
         </div>
     </div>-->
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h2 class="text-center text-primary">travel</h2>
            <hr>
            <div class="media wow fadeInRight">
                <h3>simple</h3>
                <div class="media-body media-middle">
                    <p>
                        Communicate and connect with local guides to find your unique backpacker tour in India.
                        Get involved! Your adventure will be customized according to your wishes and suggestions by your guide. </p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-chatbubbles"></i>
                </div>
            </div>
            <hr>
            <div class="media wow fadeIn">
                <h3>direct</h3>
                <div class="media-left">
                    <i class="icon-lg ion-android-share-alt"></i>
                </div>
                <div class="media-body media-middle">
                    <p>
                        Share your wishes directly with our guides and let them
                        arrange an unforgettable adventure tour package with you!
                    </p>
                </div>
            </div>
            <hr>
            <div class="media wow fadeInRight">
                <h3>unique</h3>
                <div class="media-body media-middle">
                    <p> And if you should be interested in tours of other members,
                        betterbackpacking allows you to get in contact with them to group
                        together for a collective adventure.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-thumbsup"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">learn</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="feature">
                    <i class="icon-lg ion-information-circled wow fadeIn" data-wow-delay=".3s"></i>
                    <h3>information</h3>
                    <p class="text-muted">Culture and country-specific information can be added and modified by registered community members, thus
                        creating an innovative and up-to-date 101 on the subject of backpacking.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-lightbulb wow fadeInUp" data-wow-delay=".2s"></i>
                    <h3>inspiration</h3>
                    <p class="text-muted">Get further inspired by our vivid travel blog as well as reports of other users.
                        Create your own travel report and share it with our community. In addition you have access to offers
                        and links for internal and external services (e.g. travel insurance) that will complete your tour package.</p>
                </div>
            </div>
            <!--   <div class="col-lg-4 col-md-4 text-center">
                   <div class="feature">
                       <i class="icon-lg ion-ios-star-outline wow fadeIn" data-wow-delay=".3s"></i>
                       <h3>Consistent</h3>
                       <p class="text-muted">A mature, well-tested, stable codebase</p>
                   </div>
               </div>-->
        </div>
    </div>
</section>
    <div class="container">
        <h2></h2>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="images/woman.JPG" alt="woman" style="width:100%;">
                </div>

                <div class="item">
                    <img src="images/city.JPG" alt="city" style="width:100%;">
                </div>

                <div class="item">
                    <img src="images/sea.JPG" alt="sea" style="width:100%;">
                </div>

                <div class="item">
                    <img src="images/spitiy%20valley.JPG" alt="sea" style="width:100%;">
                </div>

                <div class="item">
                    <img src="images/traveller.JPG" alt="sea" style="width:100%;">
                </div>

                <div class="item">
                    <img src="images/landscape.JPG" alt="sea" style="width:100%;">
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
        <!--<div class="fb-comments" data-href="http://betterbackpacking.com" data-numposts="5" data-colorscheme="dark"></div>-->

    </div>
<!--<section id="three" class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="images/woman.JPG">
                    <img src="images/woman.JPG" class="img-responsive" alt="Image 1">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="images/city.JPG">
                    <img src="images/city.JPG" class="img-responsive" alt="Image 2">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="images/landscape.JPG">
                    <img src="images/landscape.JPG" class="img-responsive" alt="Image 3">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="images/sea.JPG">
                    <img src="images/sea.JPG" class="img-responsive" alt="Image 4">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="images/spitiy%20valley.JPG">
                    <img src="images/spitiy%20valley.JPG" class="img-responsive" alt="Image 5">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#galleryModal" class="gallery-box" data-toggle="modal" data-src="images/traveller.jpg">
                    <img src="images/traveller.jpg" class="img-responsive" alt="Image 6">
                    <div class="gallery-box-caption">
                        <div class="gallery-box-content">
                            <div>
                                <i class="icon-lg ion-ios-search"></i>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>-->
<section id="four">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">live</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="feature">
                    <i class="icon-lg ion-information-circled wow fadeIn" data-wow-delay=".3s"></i>
                    <h3>community</h3>
                    <p class="text-muted"> Our profile- and chat-based community gives you the opportunity to
                        maintain a unique experience of exchange and communication with other backpackers and guides.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-lightbulb wow fadeInUp" data-wow-delay=".2s"></i>
                    <h3>connection</h3>
                    <p class="text-muted">Get to know one another, become friends and ideally join together for a collective journey.
                        Everything in our community. Everything on betterbackpacking!</p>
                </div>
            </div>
            <!--   <div class="col-lg-4 col-md-4 text-center">
                   <div class="feature">
                       <i class="icon-lg ion-ios-star-outline wow fadeIn" data-wow-delay=".3s"></i>
                       <h3>Consistent</h3>
                       <p class="text-muted">A mature, well-tested, stable codebase</p>
                   </div>
               </div>-->
        </div>
    </div>
</section>
<!--<section class="container-fluid" id="four">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h2 class="text-center text-primary">Live</h2>
            <hr>
            <div class="media wow fadeInRight">
                <h3>Simple</h3>
                <div class="media-body media-middle">
                    <p>What could be easier? Get started fast with this landing page starter theme.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-bolt-outline"></i>
                </div>
            </div>
            <hr>
            <div class="media wow fadeIn">
                <h3>Free</h3>
                <div class="media-left">
                    <a href="#alertModal" data-toggle="modal" data-target="#alertModal"><i class="icon-lg ion-ios-cloud-download-outline"></i></a>
                </div>
                <div class="media-body media-middle">
                    <p>Yes, please. Grab it for yourself, and make something awesome with this.</p>
                </div>
            </div>
            <hr>
            <div class="media wow fadeInRight">
                <h3>Unique</h3>
                <div class="media-body media-middle">
                    <p>Because you don't want your Bootstrap site, to look like a Bootstrap site.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-snowy"></i>
                </div>
            </div>
            <hr>
            <div class="media wow fadeIn">
                <h3>Popular</h3>
                <div class="media-left">
                    <i class="icon-lg ion-ios-heart-outline"></i>
                </div>
                <div class="media-body media-middle">
                    <p>There's good reason why Bootstrap is the most used frontend framework in the world.</p>
                </div>
            </div>
            <hr>
            <div class="media wow fadeInRight">
                <h3>Tested</h3>
                <div class="media-body media-middle">
                    <p>Bootstrap is matured and well-tested. It's a stable codebase that provides consistency.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-ios-flask-outline"></i>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2 class="text-primary">Get Started</h2>
            <a href="http://www.bootstrapzero.com/bootstrap-template/landing-zero" target="ext" class="btn btn-default btn-lg wow flipInX">Free Download</a>
        </div>
        <br>
        <hr/>
        <br>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                    <h6 class="wide-space text-center">BOOTSTRAP IS BASED ON THESE STANDARDS</h6>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="icon-lg ion-social-html5-outline" title="html 5"></i>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="icon-lg ion-social-sass" title="sass"></i>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="icon-lg ion-social-javascript-outline" title="javascript"></i>
                    </div>
                    <div class="col-sm-3 col-xs-6 text-center">
                        <i class="icon-lg ion-social-css3-outline" title="css 3"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>-->
<section id="last">
    <div class="bg-primary">
        <div class="row" id="contact">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="margin-top-0 wow fadeIn">Contact us</h2>
                <hr class="primary">
                <p>The official launch of our platform is about to happen.
                    By now we can already offer you to plan and book your individual tour in northern India.</p>
            </div>

            <div class="col-lg-10 col-lg-offset-1 text-center">
                <form method="POST" name="contactform" action="contact-form-handler.php">
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Email" name="email">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="phone">
                    </div>
                    <div class="col-md-12">
                        <label></label>
                        <textarea class="form-control" rows="9" placeholder="Your message..." name="message"></textarea>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <label></label>
                        <button type="submit" value="submit" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">send <i class="ion-android-arrow-forward"></i></button>
                    </div>

                    <!--<p>
                        <label for='name'>Your Name:</label> <br>
                        <input type="text" name="name">
                    </p>
                    <p>
                        <label for='email'>Email Address:</label> <br>
                        <input type="text" name="email"> <br>
                    </p>
                    <p>
                        <label for='message'>Message:</label> <br>
                        <textarea name="message"></textarea>
                    </p>
                    <input type="submit" value="Submit"><br>-->
                </form>


            </div>


            <!--<form method="post" actimail-handler.php.php">
                <div class="col-md-4">
                <label for="Name"><b>Name:</b></label><br>
                <input type="text" class="form-control" id="Name" name="Name"><br><br>
                </div>
                <div class="col-md-4">
                <label for="Email"><b>E-Mail:</b></label><br>
                <input type="text" class="form-control" id="Email" name="Email"><br><br>
                </div>

                <label for="Betreff"><b>Betreff:</b></label><br>
                <input type="text" id="Betreff" name="Betreff"><br><br>

                <div class="col-md-12">
                <label for="Nachricht"><b>Nachricht:</b></label><br>
                <textarea class="form-control" id="Nachricht" name="Nachricht" rows="10" cols="50"></textarea> <br><br>
                </div>
                <input type="submit" name="submit">
            </form>-->
            <!--<div class="col-lg-10 col-lg-offset-1 text-center">
                <form class="contact-form row">
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Phone">
                    </div>
                    <div class="col-md-12">
                        <label></label>
                        <textarea class="form-control" rows="9" placeholder="Your message here.."></textarea>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <label></label>
                        <button type="button" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>
                    </div>
                </form>
            </div>-->
        </div>
    </div>
</section>





<div class="container-fluid" id="footer">
    <div class="row" id="five">
        <!--<div class="col-xs-6 col-sm-3 column">
            <h4>Information</h4>
            <ul class="list-unstyled">
                <li><a href="">Products</a></li>
                <li><a href="">Services</a></li>
                <li><a href="">Benefits</a></li>
                <li><a href="">Developers</a></li>
            </ul>
        </div>-->
        <!-- <section id="impressum">
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12 text-center">
                         <h2 class="margin-top-0 text-primary">impressum</h2>
                         <hr class="primary">
                     </div>
                 </div>
             </div>
             <div class="container">
                 <div class="row">
                     <div class="col-lg-12 col-md-12 text-center">
                         <div class="feature">
                             <i class="icon-lg ion-ios-location wow fadeInUp" data-wow-delay=".2s"></i>
                             <h3>betterbackpacking</h3>
                             <h2>phone: +49 1633512444</h2>
                             <h2>Grabensprung 162c</h2>
                             <h2>12083 Berlin</h2>

                         </div>
                     </div>

                     &lt;!&ndash;   <div class="col-lg-4 col-md-4 text-center">
                            <div class="feature">
                                <i class="icon-lg ion-ios-star-outline wow fadeIn" data-wow-delay=".3s"></i>
                                <h3>Consistent</h3>
                                <p class="text-muted">A mature, well-tested, stable codebase</p>
                            </div>
                        </div>&ndash;&gt;
                 </div>
             </div>
         </section>-->
        <div class="col-xs-6 col-sm-3 column">
            <h4>Impressum</h4>
            <ul class="list-unstyled">
                <li><i class="icon-m ion-ios-location wow fadeInUp" data-wow-delay=".2s"></i></li>
                <li>betterbackpacking</li>
                <li>August-Bebel-Straße 89, Haus 7  </li>
                <li>14482 Potsdam</li>
                <li>phone: +49 1633512444</li>
            </ul>
        </div>
        <!--<div class="col-xs-12 col-sm-3 column">
            <h4>Be part of the backpacking revolution with our newsletter.</h4>
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" title="No spam, we promise!" placeholder="Your email...">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Submit</button>
                </div>
            </form>
        </div>-->

        <div class="col-xs-12 col-sm-3 column">

            <!-- Begin MailChimp Signup Form -->
            <form action="//betterbackpacking.us16.list-manage.com/subscribe/post?u=23076ac7f7d88577fa2b1de66&amp;id=44aeee8036" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="form-group" style="padding-top:10px;">
                    <label for="mce-EMAIL">Be part of the backpacking revolution with our newsletter.</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your Email... " required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_23076ac7f7d88577fa2b1de66_44aeee8036" tabindex="-1" value=""></div>
                    <div class="form-group" style ="padding-top:20px;">
                        <button  type="submit" value="Subscribe" name="subscribe" data-toggle="modal" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            <!--End mc_embed_signup-->
        </div>

        <!-- Begin MailChimp Signup Form -->

       <!-- <div id="mc_embed_signup">
            <form action="//betterbackpacking.us16.list-manage.com/subscribe/post?u=23076ac7f7d88577fa2b1de66&amp;id=44aeee8036" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">Subscribe to our mailing list</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_23076ac7f7d88577fa2b1de66_44aeee8036" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>

        &lt;!&ndash;End mc_embed_signup&ndash;&gt;-->
        <div class="col-xs-12 col-sm-3 text-center">
            <ul class="list-inline">
                <li><a target="_blank" rel="nofollow" href="https://www.asr.com/" title="asr"><img style="width:250px; margin:auto" src="images/ASR_EN.jpg"></a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-3 text-right pull-right">
            <h4>Follow us</h4>
            <ul class="list-inline">
                <li><a target="_blank" rel="nofollow" href="https://www.facebook.com/betterbackpacking/" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a>&nbsp;</li>
                <li><a target="_blank" rel="nofollow" href="https://www.instagram.com/betterbackpacking/" title="Instagram"><i class="icon-lg ion-social-instagram-outline"></i></a></li>
                <li><a target="_blank" rel="nofollow" href="https://twitter.com/bbpcommunity" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
            </ul>
        </div>
    </div>
    <br/>
    <span class="pull-right text-muted small"><a href="/privatePolicy">private policy</a></span>
    <br/>
    <span class="pull-right text-muted small"><a href="">betterbackpacking</a> ©2017 Company</span>
</div>

<div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="img-responsive" />
                <p>
                    <br/>
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">bbp</h2>
                <h5 class="text-center">
                    betterbackpacking
                </h5>
                <p class="text-justify">
                    The internet platform bbp is a young, innovative company about backpacking. We provide a social platform that combines backpackers and backpackers with local adventure guides around the world, creating a vibrant community.
                    On our platform you can get everything you need for backpacking. Whether it is the mediation of one of our guides and thus making possible wonderful and breathtaking tours - or whether it’s the pick up of cultural and country-specific information and offers around his adventure - it is all here. In any case, you can exchange with all the members at any time and make new acquaintances, create security and be in contact with many other great like-minded people.
                    In short, our company is about the mediation of travel, the provision of information and the possibility of communication -
                    Travel, learn and live. These are our values. And together with you we create something great.
                    Be a citizen of the world!


                </p>
                <img style="width:100%;" src="images/profilbild.jpg">
                <!--<p class="text-center"><a href="http://www.bootstrapzero.com">Download at BootstrapZero</a></p>-->
                <br/>
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
            </div>
        </div>
    </div>
</div>
<div id="videoinfo" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center"><a target="_blank" href="https://vimeo.com/192417650">Alive</a></h2>
                <h5 class="text-center">
                    by Alessandro Rovere
                </h5>
                <div class="text-center">

                    This amazing video has been shot by our friend and moviemaker Allessandro Rovere. We went on a tour together with him and our guide jd
                    and together we experienced an incredible adventure. What you see in this video, is one of the tour, that we are mediating - the "alive" tour.
                    If you feel inspired by watching this tour- feel free to contact us and we get you in touch with the guides!
                </div>
                <div class="text-center">  <a target="_blank" href="http://alessandro-rovere.de/">website</a></div>
                <div class="text-center">   <a target="_blank" href="http://facebook.com/alessandroroverevisual">facebook</a></div>
                <div class="text-center"><a target="_blank" href="http://instagram.com/generalhappy/">instagram</a></div>



                <!--<p class="text-center"><a href="http://www.bootstrapzero.com">Download at BootstrapZero</a></p>-->
                <br/>
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
            </div>
        </div>
    </div>
</div>


<!--<div id="alertModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-body">
            <h2 class="text-center">Nice Job!</h2>
            <p class="text-center">You clicked the button, but it doesn't actually go anywhere because this is only a demo.</p>
            <p class="text-center"><a href="http://www.bootstrapzero.com">Learn more at BootstrapZero</a></p>
            <br/>
            <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">OK <i class="ion-android-close"></i></button>
        </div>
    </div>
    </div>
</div>-->
<!--scripts loaded here from cdn for performance -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
