

<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" id="bbp" href="#first"><img style="width:2em" alt="logo" src="/images/logo_white.svg"> </a>
        </div>
        <div class="navbar-collapse collapse" id="bs-navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a class="page-scroll" href="#one">travel</a>
                </li>
                <li>
                    <a class="page-scroll" href="#two">learn</a>
                </li>
                <li>
                    <a class="page-scroll" href="#three">live</a>
                </li>

                <li>
                    <a class="page-scroll" href="#last">Kontakt</a>
                </li>
                {{#if user}}
                    <li>
                        <a title="chat" href="users/chat">bbp Lounge</a>
                    </li>
                {{/if}}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll"  title="ger" href="index.html"><img style="width: 2em;" src="/images/germany.png"> </a>
                </li>
                <li>
                    <a class="page-scroll" title ="en" href="ENindex.html"><img style="width: 2em;" src="/images/England.png"></a>
                </li>
                <li>
                    <a class="page-scroll" data-toggle="modal" title="about" href="#aboutModal">Über uns</a>
                </li>

                {{#if user}}
                    <li>
                        <a title="logout" href="/users/logout">Logout</a>
                    </li>
                {{else}}

                    <li>
                        <a title="login" href="/users/login">Login</a>
                    </li>
                    <li>
                        <a title="register" href="/users/register">Register</a>
                    </li>

                {{/if}}
            </ul>
        </div>
    </div>
</nav>

<header id="first">
<div class="header-content">
    <div class="inner">
        <h1 class="cursive">Entdecke dich selbst durch die Welt. Verbinde dich mit anderen Backpacker und lokalen Guides.</h1>
        <h4>Backpack better - with betterbackpacking.</h4>
        <hr>
        <a href="#videoinfo" data-toggle="modal" class="btn btn-primary btn-xl page-scroll">Video Info</a> &nbsp; <a href="#last" class="btn btn-primary btn-xl page-scroll">Kontaktiere uns</a>
    </div>
</div>
<video muted autoplay="" loop="yes" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.5s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
    <a href="https://vimeo.com/192417650"></a>
    <source src="images/alive.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
</video>

</header>
<div class="text-center">
    <!--<button type="submit" value="submit" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">Send <i class="ion-android-arrow-forward"></i></button>-->

</div>
<section class="bg-primary" id="one">

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <h2 class="text-center text-primary">travel</h2>
            <hr>
            <div class="media wow fadeInRight">
                <h3>simpel</h3>
                <div class="media-body media-middle">
                    <p>
                        Kommuniziere und verbinde dich mit lokalen Guides und finde deine Backpacker-Tour in Indien. Durch eigene Wünsche und Vorschläge wird dein Erlebnis individuell auf dich zugeschnitten.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-chatbubbles"></i>
                </div>
            </div>
            <hr>
            <div class="media wow fadeIn">
                <h3>direkt</h3>
                <div class="media-left">
                    <i class="icon-lg ion-android-share-alt"></i>
                </div>
                <div class="media-body media-middle">
                    <p>
                        Teile deine Vorstellungen direkt mit den Guides und lass dir ein unvergessliches Erlebnispaket zusammenschnüren.
                    </p>
                </div>
            </div>
            <hr>
            <div class="media wow fadeInRight">
                <h3>einzigartig</h3>
                <div class="media-body media-middle">
                    <p>Und falls dir eine Tour eines anderen Mitglieds gefallen sollte, hast du mit BetterBackPacking die Möglichkeit, dich mit anderen Menschen zusammen zu schließen.</p>
                </div>
                <div class="media-right">
                    <i class="icon-lg ion-thumbsup"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="two">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">learn</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="feature">
                    <i class="icon-lg ion-information-circled wow fadeIn" data-wow-delay=".3s"></i>
                    <h3>Information</h3>
                    <p class="text-muted">Kulturspezifische- und landestypische Informationen können hier von Mitgliedern der Community bearbeitet und hinzugefügt werden. So entsteht ein aktuelles und innovatives 1x1 des Rucksackreisens.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-lightbulb wow fadeInUp" data-wow-delay=".2s"></i>
                    <h3>Inspiration</h3>
                    <p class="text-muted">Zusätzlich lässt du dich durch Reiseberichte und unseren Reiseblog inspirieren. Außerdem kannst du dir interne und externe Angebote bezüglich der Touren einholen und dich somit perfekt vorbereiten.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="container">
    <h2></h2>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/woman.JPG" alt="woman" style="width:100%;">
            </div>

            <div class="item">
                <img src="images/city.JPG" alt="city" style="width:100%;">
            </div>

            <div class="item">
                <img src="images/sea.JPG" alt="sea" style="width:100%;">
            </div>

            <div class="item">
                <img src="images/spitiy%20valley.JPG" alt="sea" style="width:100%;">
            </div>

            <div class="item">
                <img src="images/traveller.jpg" alt="sea" style="width:100%;">
            </div>

            <div class="item">
                <img src="images/landscape.JPG" alt="sea" style="width:100%;">
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

    <!--<div class="fb-comments" data-href="http://betterbackpacking.com" data-numposts="5" data-colorscheme="dark"></div>-->

</div>

<section id="four">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="margin-top-0 text-primary">live</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="feature">
                    <i class="icon-lg ion-information-circled wow fadeIn" data-wow-delay=".3s"></i>
                    <h3>Gemeinschaft</h3>
                    <p class="text-muted">Über unsere durch Profile und eine Chatfunktion gestützte Community, verfügst du über die Möglichkeit, eine einmalige Erfahrung im Austausch und in der Kommunikation mit anderen Backpackern zu pflegen.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="feature">
                    <i class="icon-lg ion-ios-lightbulb wow fadeInUp" data-wow-delay=".2s"></i>
                    <h3>Verbindung</h3>
                    <p class="text-muted">Sich kennenlernen, sich anfreunden und sich dann im besten Fall zusammen auf ein unvergessliches Abenteuer begeben. Alles über unsere Community. Alles auf betterbackpacking!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="last">
    <div class="bg-primary">
        <div class="row" id="contact">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="margin-top-0 wow fadeIn">Kontaktiere uns.</h2>
                <hr class="primary">
                <p>Du hast jetzt die Möglichkeit, deine individuelle Abenteuerreise in der Himalaya-Region über unser vertrauensvolles Partner Guide Netzwerk zu planen und zu buchen.</p>
            </div>

            <div class="col-lg-10 col-lg-offset-1 text-center">
                <form method="POST" name="contactform" action="contact-form-handler.php">
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="Email" name="email">
                    </div>
                    <div class="col-md-4">
                        <label></label>
                        <input type="text" class="form-control" placeholder="phone">
                    </div>
                    <div class="col-md-12">
                        <label></label>
                        <textarea class="form-control" rows="9" placeholder="Deine Nachricht..." name="message"></textarea>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <label></label>
                        <button type="submit" value="submit" data-toggle="modal" data-target="#alertModal" class="btn btn-primary btn-block btn-lg">senden <i class="ion-android-arrow-forward"></i></button>
                    </div>
                </form>


            </div>

        </div>
    </div>
</section>

<div class="container-fluid" id="footer">
    <div class="row" id="five">

        <div class="col-xs-6 col-sm-3 column">
            <h4>Impressum</h4>
            <ul class="list-unstyled">
                <li><i class="icon-m ion-ios-location wow fadeInUp" data-wow-delay=".2s"></i></li>
                <li>betterbackpacking</li>
                <li>Grabensprung 162c</li>
                <li>10115 Berlin</li>
                <li>phone: +49 1633512444</li>
            </ul>
        </div>

                        <div class="col-xs-12 col-sm-3 column">
                            <!--<form>
                                <div class="form-group">
                                  <input type="text" class="form-control" title="No spam, we promise!" placeholder="Deine Email...">
                                </div>
                                <div class="form-group">
                                  <button class="btn btn-primary" data-toggle="modal" data-target="#alertModal" type="button">Melde dich an.</button>
                                </div>
                            </form>-->
                            <!-- Begin MailChimp Signup Form -->
                                <form action="//betterbackpacking.us16.list-manage.com/subscribe/post?u=23076ac7f7d88577fa2b1de66&amp;id=bc1ad3d4e7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div class="form-group" style="padding-top:10px;">
                                        <label for="mce-EMAIL">Werde Teil der Backpacker Revolution mit unserem Newsletter.</label>
                                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Deine Email... " required>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_23076ac7f7d88577fa2b1de66_bc1ad3d4e7" tabindex="-1" value=""></div>
                                        <div class="form-group" style ="padding-top:20px;">
                                            <button  type="submit" value="Subscribe" name="subscribe" data-toggle="modal" class="btn btn-primary">Melde dich an</button>
                                        </div>
                                    </div>
                                </form>
                            <!--End mc_embed_signup-->
                        </div>

        <div class="col-xs-12 col-sm-3 column">
            <ul class="list-inline">
                <li><a target="_blank" rel="nofollow" href="https://www.asr.com/" title="asr"><img style="width:100%;" src="images/asr-Sticker_eckig.jpg"></a></li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-3 text-right pull-right">
            <h4>Folge uns</h4>
            <ul class="list-inline">
                <li><a target="_blank" rel="nofollow" href="https://www.facebook.com/betterbackpacking/" title="Facebook"><i class="icon-lg ion-social-facebook-outline"></i></a>&nbsp;</li>
                <li><a target="_blank" rel="nofollow" href="https://www.instagram.com/betterbackpacking/" title="Instagram"><i class="icon-lg ion-social-instagram-outline"></i></a></li>
                <li><a target="_blank" rel="nofollow" href="https://twitter.com/bbpcommunity" title="Twitter"><i class="icon-lg ion-social-twitter-outline"></i></a>&nbsp;</li>
            </ul>
        </div>
    </div>
    <br/>
    <span class="pull-right text-muted small"><a href="">betterbackpacking</a> ©2017 Company</span>
</div>

<div id="galleryModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="img-responsive" />
                <p>
                    <br/>
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true">Close <i class="ion-android-close"></i></button>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="aboutModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center">bbp</h2>
                <h5 class="text-center">
                    betterbackpacking
                </h5>
                <p class="text-justify">
                    Die Internetplattform bbp ist ein junges, innovatives Unternehmen des Backpackens. Wir stellen eine soziale Plattform bereit, bei der es darum geht, Backpacker untereinander und Backpacker mit lokalen Abenteurguides weltweit miteinander zu verbinden, sodass eine lebendige Community entsteht.
                    Auf unserer Plattform kann man sich alles nötige zum Thema Backpacking abholen. Ob es die Vermittlung eines unserer Guides und damit von wundervollen und atemberaubende Touren ist - oder ob man sich kultur- und länderspezifische Informationen und Angebote rund um sein Abenteuer abholt. Auf jeden Fall kann man sich mit allen Mitgliedern jederzeit austauschen und macht so neue Bekanntschaften, schafft Sicherheit und ist in Gesellschaft von vielen anderen tollen Gleichgesinnten.
                    Wir nennen diese Dreiteilung- also die Vermittlung von Reisen, die Bereitstellung von Informationen und die Möglichkeit zur Kommunikation -
                    travel , learn und live. Das sind unsere Werte. Und gemeinsam mit dir schaffen wir etwas Großes.
                </p>
                <img style="width:100%;" src="images/profilbild.jpg">
                <!--<p class="text-center"><a href="http://www.bootstrapzero.com">Download at BootstrapZero</a></p>-->
                <br/>
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
            </div>
        </div>
    </div>
</div>
<div id="videoinfo" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h2 class="text-center"><a target="_blank" href="https://vimeo.com/192417650">Alive</a></h2>
                <h5 class="text-center">
                    by Alessandro Rovere
                </h5>
                <div class="text-center">
                    Dieses wunderbare Video ist von unserem Freund und Videograph Alessandro Rovere. Gemeinsam mit ihm haben wir diese Tour zusammen mit unserem Guide JD unternommen und unvergessliche Erfahrungen gesammelt.
                    Was auf diesen Bildern zu sehen ist, spiegelt eine von uns angebotene Tour wieder -  die ‘Alive’-Tour. Falls du dich durch diese Tour inspiriert fühlst, melde dich bei uns!</div>
                <div class="text-center">  <a target="_blank" href="http://alessandro-rovere.de/">website</a></div>
                <div class="text-center">   <a target="_blank" href="http://facebook.com/alessandroroverevisual">facebook</a></div>
                <div class="text-center"><a target="_blank" href="http://instagram.com/generalhappy/">instagram</a></div>

                <!--<p class="text-center"><a href="http://www.bootstrapzero.com">Download at BootstrapZero</a></p>-->
                <br/>
                <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
            </div>
        </div>
    </div>
</div>



