<script src="https://use.fontawesome.com/1dec14be15.js"></script>

<div  class ="login container text-center">

    <div  class=" col-md-12 col-sm-12 col-xs-12" >
    <a id="bbp" href="/"><img style="width:7em; " alt="logo" src="/images/logo_white.svg"> </a>
    </div>

    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="inner-section login ">
            <form method="POST" action="/users/login">
                <div class="mar20 inside-form">
                    <h2 class="font_white text-center">SIGN IN</h2>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope "></i></span>
                        <input type="text" class="form-control" name="username" placeholder="username...">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock "></i></span>
                        <input type="password" class="form-control" name="password" placeholder="Password...">
                    </div>
                    <button type="submit" class="btn btn-neutral btn-round btn-lg">Start Backpack</button>

                </div>
            </form>
        </div>
    </div>

    <div class="col-xs-12 col-lg-12 link" >
        <p> Doesn't have an account?
            <a href="/users/register"> Register</a> here
        </p>
    </div>

</div>

