
<!--<!doctype html>-->
<!--<html lang="en">-->

<!--<body>-->
<link rel="stylesheet" href="/travel/css/styles.css">
<link rel="stylesheet" href="/travel/css/owl.carousel.min.css">
<link rel="stylesheet" href="/travel/css/owl.theme.default.min.css">

<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
<script src="https://use.fontawesome.com/7f1e234e47.js"></script>


<div class="container">
    <div class="site-description">
        <div class="pink-box col-md-8 col-md-offset-2">
            <div class="icon-wrapper">
                <i class="fa fa-exclamation fa-5x" aria-hidden="true"></i>
            </div>
            <div class="text-wrapper col-md-10">
                <p class="text">
                    Willkommen auf dem dem bbp-travelPart !
                    <hr>
                    Hier präsentieren lokale Guides ihre Tourenangebote. Mit diesen Abenteurguides haben wir für euch Kooperationsverträge geschlossen - wir vermitteln die von ihnen angebotenen Touren auf dem travelPart. Für die Durchführung und die Organisation ist somit immer der jeweilige, handverlesene Guide verantwortlich.
                    <hr>
                    Neben den nordindischen Guides erwarten dich außerdem authentische Guides in Nepal, aufregende Abenteuer-Tagestouren auf Mallorca und Touren über die iberische Halbinsel mit unserem Caravan-Tourguide.
                    Und wenn es mal eher ruhig und entspannt zugehen soll, vermitteln wir dir gerne ein Ressort auf einer idyllischen vietnamesischen Insel.
                    <hr>
                    betterbackpacking vermittelt ausschließlich Guides, die bestimmten Qualitätsansprüchen gerecht werden, wirklich lokal sind und im persönlichen Kontakt zu uns stehen!
                    Jede Tour kann mit den Guides individuell bearbeitet werden und wird vollkommen nach euren Wünschen konzipiert: weniger Treks und dafür mehr Kultur, zwei Wochen durch trekken und die höchsten Höhen erklimmen, es liegt bei euch!
                    Sprecht uns an, kommt mit uns in Kontakt und sichert euch euren Guide - stolz vermittelt von betterbackpacking!
                </p>
            </div>
        </div>
    </div>
    <div class="header col-md-12">
        <h1 class="big-string title">Alive tour</h1>
    </div>
    <div class="line col-md-8 col-md-offset-2"></div>
</div>
<div class="map-wrapper">
    <div class="map" id="map">
    </div>
</div>
<div id="days-wrapper" class="col-xs-12 col-sm-4 col-md-4 col-md-offset-0">
    <li class="day-div">
        <div class="day">DAY 1</div>
        <div class="show"></div>
    </li>
    <li class="day-plan">
        <div class="text-wrapper">
            <h4>Shimla</h4>
            <p>Arrival in Shimla, the capital of Himachal Pradesh. Discover Shimla’s old town and “The Mall” by foot, visit the Jakhoo temple, highest point of Shimla</p>
        </div>
    </li>
    <li class="day-div">
        <div class="day">DAY 2</div>
        <div class="show"></div>
    </li>
    <li class="day-plan">
        <div class="text-wrapper">
            <h4>Sarahan</h4>
            <p>Shimla (2100m) to Sarahan (2300m). Visit the Bhimakali Temple and a pheasantry 3-hour hike to Hatupeak (3400m)</p>
        </div>
    </li>
    <li class="day-div">
        <div class="day">DAY 3</div>
        <div class="show"></div>
    </li>
    <li class="day-plan">
        <div class="text-wrapper">
            <h4>Kalpa</h4>
            <p>Sarahan to Kalpa (2800m). Enjoy the massive Kinnaur Kailash (6050m) and its 7 color changes according to the sunbeam </p>

        </div>
    </li>
    <li class="day-div">
        <div class="day">DAY 4</div>
        <div class="show"></div>
    </li>
    <li class="day-plan">
        <div class="text-wrapper">
            <h4>Nako</h4>
            <p>Kalpa to Nako (3700m). Hike around Nako lake</p>
        </div>
    </li>
    <li class="day-div">
        <div class="day">DAY 5</div>
        <div class="show"></div>
    </li>
    <li class="day-plan">
        <div class="text-wrapper">
            <h4>Tabo</h4>
            <p>Nako to Tabo (3000m). Visit the 1000-year old Tabo Monastery</p>
        </div>
    </li>
    <li class="day-div">
        <div class="day">DAY 6</div>
        <div class="show"></div>
    </li>
    <li class="day-plan">
        <div class="text-wrapper">
            <h4>Dhankar</h4>
            <p>Tabo to Dhankar (3900m). Visit the Dhankar Monastery and hike up to the holy Dhankar Lake</p>
        </div>
    </li>
    <li class="day-div">
        <div class="day">DAY 7</div>
        <div class="show"></div>
    </li>
    <li class="day-plan">
        <div class="text-wrapper">
            <h4>Kaza</h4>
            <p>Dhankar to Kaza (3800m). Visit the highest town, Comic (4600m)</p>
        </div>
    </li>
    <li class="day-div">
        <div class="day">DAY 8</div>
        <div class="show"></div>
    </li>
    <li class="day-plan">
        <div class="text-wrapper">
            <h4>Kaza</h4>
            <p>Stay in Kaza. Visit Kibbar (4200m) and Kye Monastery, the biggest monastery in Spiti</p>
        </div>
    </li>
    <li class="day-div">
        <div class="day">DAY 9</div>
        <div class="show"></div>
    </li>
    <li class="day-plan">
        <div class="text-wrapper">
            <h4>Manali</h4>
            <p>Chandra Taal to Manali (2000m). Drive through Rohtang Pass (4000m) and go shopping in Manali. alternative: relaxed hike with impressive waterfalls at the end</p>
        </div>
    </li>
    <li class="day-div">
        <div class="day">DAY 10</div>
        <div class="show"></div>
    </li>
    <li class="day-plan">
        <div class="text-wrapper">
            <h4>Aru</h4>
            <p>Manali to Aru (2400m). Drive to and hike around Aru Valley</p>
        </div>
    </li>
    <li class="day-div">
        <div class="day">DAY 11</div>
        <div class="show"></div>
    </li>
    <li class="day-plan">
        <div class="text-wrapper">
            <h4>Srinagar</h4>
            <p>Aru to Srinagar. Have a relaxed day at houseboat</p>
        </div>
    </li>
</div>

<div id="video" class="text-center">
    <video controls loop="yes" class="fillWidth fadeIn wow collapse in" data-wow-delay="0.1s" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
        <a href="https://vimeo.com/192417650"></a>
        <source src="/travel/images/alive.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
    </video>
    <div class="vidinfo">
        <a href="#videoinfo" data-toggle="modal" class="btn btn-primary btn-xl page-scroll">Video Info</a>
    </div>

</div>

<div class="container">

    <div class="line line1 col-md-8 col-md-offset-2"></div>
    <p class="big-string uno col-md-7 col-md-offset-3">What's included?</p>
    <div class="about about1 col-md-6 col-md-offset-3">
        <div class="button button1">
            <p class="all">ALL-IN-ONE</p>
        </div>
        <p class="click-here">click here to find out more</p>

        <div class="button-container whats-included">
            <div class="one"></div>
            <div class="two">
                <div class="about-text about-text1">
                    <ul>
                        <li>
                            <p class="all-included">All included:</p>
                        </li>
                        <li>
                            <div class="trip-detail-box">
                                <div class="icon-container left col-md-2">
                                    <i class="fa fa-truck fa-4x" aria-hidden="true"></i>
                                </div>
                                <div class="trip-text-container left align-left col-md-9">
                                    <p>Transportation: four-wheel-drive jeep + driver (including fuel)</p>
                                </div>
                            </div>
                        </li>
                        <hr>
                        <li>
                            <div class="trip-detail-box">
                                <div class="icon-container right col-md-2">
                                    <i class="fa fa-bed fa-4x" aria-hidden="true"></i>
                                </div>
                                <div class="trip-text-container right align-right col-md-9">
                                        <p>Accommodation: hotels, mountain huts, and/or camping</p>
                                </div>

                            </div>
                        </li>
                        <hr>
                        <li>
                            <div class="trip-detail-box">
                                <div class="icon-container left col-md-2">
                                    <i class="fa fa-cutlery fa-4x" aria-hidden="true"></i>
                                </div>
                                <div class="trip-text-container left align-left col-md-9">
                                        <p>Food and drinks: breakfast, lunch, dinner + snacks</p>
                                </div>
                            </div>
                        </li>
                        <hr>
                        <li>
                            <div class="trip-detail-box">
                                <div class="icon-container right col-md-2">
                                    <i class="fa fa-male fa-4x" aria-hidden="true"></i>
                                </div>
                                <div class="trip-text-container right align-right col-md-9">
                                        <p>24-hours guide</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="owl-carousel owl-theme about col-md-12">
    <div class="item"><img src="/travel/images/pic1.png"></div>
    <div class="item"><img src="/travel/images/pic2.png"></div>
    <div class="item"><img src="/travel/images/pic3.png"></div>
    <div class="item"><img src="/travel/images/pic4.png"></div>
    <div class="item"><img src="/travel/images/pic5.png"></div>
    <div class="item"><img src="/travel/images/pic6.png"></div>
</div>
<div class="container">
    <div class="about about2 col-md-6 col-md-offset-3">
        <p class="click-here click-here2">By clicking on this button, you’re going to be mediated to one of the local guides.
        </p>
        <div class="button button2">
            <p class="all">better backpack now!</p>
        </div>
        <div class="button-container book-now">
            <div class="one"></div>
            <div class="two">
                <div class="about-text">
                    <form method="POST" action="/travel">
                        <div class="message-group short">
                          <label><span>Your name:</span>
                            <textarea name="name" placeholder="Your name.." required></textarea></label>
                          </div>
                        <div class="message-group short">
                            <label><span>Your surname:</span>
                                <textarea name="surname" placeholder="Your surname.."></textarea></label>
                        </div>
                        <div class="message-group short">
                            <label><span>Your email:</span>
                                <textarea name="email" placeholder="Your email.." required></textarea></label>
                        </div>
                        <div class="message-group">
                            <label><span>Your age:</span>
                                <textarea name="age" placeholder="How old are you physically? And how old psychologically?.."></textarea></label>
                        </div>
                        <div class="message-group">
                            <label><span>Your travel duration:</span>
                                <textarea name="duration" placeholder="How many days you are planning for your adventure? And especially when?.."></textarea></label>
                        </div>
                        <div class="message-group">
                            <label><span>Your experience:</span>
                                <textarea name="experience" placeholder="What are your experiences with backpacking? What about trekking?.."></textarea></label>
                        </div>
                        <div class="message-group">
                            <label><span>Your fitness level</span>
                                <textarea name="fitness" placeholder="How fit are you? Do you know your body and can you estimate your body capability in extreme situations, e.g. do you suffer from mountain sickness?.."></textarea></label>
                        </div>
                        <div class="message-group">
                            <label><span>Activities:</span>
                                <textarea name="activities " placeholder="How many treks should be included in the tour?.."></textarea></label>
                        </div>
                        <div class="message-group">
                            <label><span>Accommodation:</span>
                                <textarea name="accommodation" placeholder="Hilton, hostel or huts?.."></textarea></label>
                        </div>
                        <div class="message-group">
                            <label><span>Company:</span>
                                <textarea name="company" placeholder="Are you open for more backpackers to join the adventure?.."></textarea></label>
                        </div>
                        <div class="message-group">
                            <label><span>Do you want to tell us anything else?</span>
                                <textarea name="message" placeholder="Your message.."></textarea></label>
                        </div>
                        <input class="send-button" type="submit" value="Send->">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="videoinfo" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h2 class="text-center"><a target="_blank" href="https://vimeo.com/192417650">Alive</a></h2>
                    <h5 class="text-center">
                        by Alessandro Rovere
                    </h5>
                    <div class="text-center">
                        Dieses wunderbare Video ist gemeinsam mit unserem Freund und Videograph Alessandro Rovere entstanden. Als erster vermittelter Customer hat er mit uns zusammen diese Tour unternommen und dabei unvergessliche Erfahrungen gesammelt.
                        Was auf diesen Bildern zu sehen ist, spiegelt eine vom indischen Guide JD angebotene Tour wieder - die ‘Alive’-Tour.
                        Falls du dich durch diese Tour inspiriert fühlst, melde dich bei uns, wir stellen gerne den Kontakt zum indischen Guidenetzwerk her!
                    </div>
                    <div class="text-center">  <a target="_blank" href="http://alessandro-rovere.de/">website</a></div>
                    <div class="text-center">   <a target="_blank" href="http://facebook.com/alessandroroverevisual">facebook</a></div>
                    <div class="text-center"><a target="_blank" href="http://instagram.com/generalhappy/">instagram</a></div>

                    <!--<p class="text-center"><a href="http://www.bootstrapzero.com">Download at BootstrapZero</a></p>-->
                    <br/>
                    <button class="btn btn-primary btn-lg center-block" data-dismiss="modal" aria-hidden="true"> OK </button>
                </div>
            </div>
        </div>
    </div>



</div>
<div class="footer">
</div>

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAvBcmApfKtIdaYyvSKjfoDTLj4j-GKBvY"></script>
<!--    <div class="next col-xs-12 col-sm-4 col-md-4 col-md-offset-4">
</div> -->
<!--<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>-->
<!--<link rel="stylesheet" type="text/css" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">-->

<!--<script src="/travel/js/jquery.min.js"></script>-->
<!--<script src="/travel/js/owl.carousel.min.js"></script>-->
<!--&lt;!&ndash;<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>&ndash;&gt;-->
<!--<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAvBcmApfKtIdaYyvSKjfoDTLj4j-GKBvY"></script>-->
<!--<script src="/travel/js/script.js"></script>-->
<!--<script src="/travel/js/scripts.js" ></script>-->
<!--</body>-->
<!--</html>-->
